body{
    background: white;
}
.emp-profile{
    padding: 3%;
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 0.5rem;
    background: whitesmoke;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 80%;
    height: 80%;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 50%;
    border: none;
    border-radius: 0;
    font-size: 10px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
.profile-head h5{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
}
.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.card-columns {
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
  }



  @import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
}

a {
  color: inherit;
}


/* old card */
/*PEN STYLES*/
.blog-card {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  height: 162px;
}

.blog-card .tags {
  display: flex;
}

.blog-card .tags .tag {
  font-size: 0.8em;
  background: rgba(83, 74, 74, 0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.blog-card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.blog-card  .more {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
  color: #333;
}


.blog-card a {
  color: inherit;
}
.blog-card a:hover {
  color: #5ad67d;
}
.blog-card:hover .photo {
  transform: scale(1.3) rotate(3deg);
}
.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.blog-card .details,
.blog-card .details ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card .details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card .details a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card .details ul li {
  display: inline-block;
}
.blog-card .details .author:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .date:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card .details .tagss ul:before {
  font-family: FontAwesome;
  margin-right: 10px;
}
.blog-card .details .tagss li {
  margin-top: 25% ;
  margin-right: 2px;
}
.blog-card .details .tagss li:first-child {
  margin-left: -4px;
}


.blog-card .description {
  padding: 1rem;
  background: rgb(255, 255, 255);
  position: relative;
  z-index: 1;
  width: 420px;
}
.blog-card .description h1,
.blog-card .description h6,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h6 {
  line-height: 2;
  display:block;
  margin: 0;
  font-size: 1.0rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #a2a2a2;
  margin-top: 5px;
}
.blog-card .description .read-more {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
}
.blog-card .description .read-more a {
  color: #5ad67d;
  display: inline-block;
  position: relative;
}
.blog-card .description .read-more a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card .description .read-more a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card:hover .details {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details {
    padding-left: 25px;
  }
}

/*  */


/* search */

@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');

/* Base styling */

.search__container {
        padding-left: 64px;
    }

.search__input {
        width: 100%;
        padding: 12px 24px;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;
        color: black;
        background-color: transparent;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */
 
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 18px 18px;
        background-position: 95% center;
        border-radius: 50px;
        border: 1px solid #575756;
        transition: all 250ms ease-in-out;
        backface-visibility: hidden;
        transform-style: preserve-3d;
    }

.search__input::placeholder {
            color:  black;
            letter-spacing: 1.5px;
        }

.search__input:hover,
        .search__input:focus {
            padding: 12px 0;
            outline: 0;
            border: 1px solid transparent;
            border-bottom: 1px solid #575756;
            border-radius: 0;
            background-position: 100% center;
        }


/* notify */
/* @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');


nav {
    display: flex;
    align-items: center;
    background: #AB47BC;
    height: 60px;
    position: relative;
}

.icon {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.6);
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px
}

.icon img {
    display: inline-block;
    width: 20px;
    color: rgba(0, 0, 0, 0.6);
    
}

.icon:hover {
    opacity: .7
}

.logo {
    flex: 1;
    margin-left: 50px;
    color: #eee;
    font-size: 20px;
    font-family: monospace
}

.notifications {
    width: 300px;
    opacity: 0;
    position: absolute;
    top: 63px;
    right: 62px;
    border-radius: 5px 0px 5px 5px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.notifications h2 {
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #999
}

.notifications h2 span {
    color: #f00
}

.notifications-item {
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 6px 9px;
    margin-bottom: 0px;
    cursor: pointer
}

.notifications-item:hover {
    background-color: #eee
}

.notifications-item img {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 9px;
    border-radius: 50%;
    margin-top: 2px
}

.notifications-item .text h4 {
    color: #777;
    font-size: 16px;
    margin-top: 3px
}

.notifications-item .text p {
    color: #aaa;
    font-size: 12px
} */


/* new notifi */
/* CSS used here will be applied after bootstrap.css */
.glyphicon-bell {
   
  font-size:1.5rem;
}

.notifications {
 min-width:500px; 
 min-height: 100px;
}

.notifications-wrapper {
   overflow:auto;
  max-height: 500px;
  }
.menu-title {
  color: #000000;
  font-size: 1.8rem;
  display: inline-block;
  font-weight: bold;
}

.glyphicon-circle-arrow-right {
    margin-left:10px;     
 }

 
.notification-heading, .notification-footer  {
    padding:2px 10px 10px 2px;
}
    
      
.dropdown-menu.divider {
margin:5px 0;          
}

.item-title {
  font-size: 1.3rem;
  color: #000;
  font-weight: bold;
  margin: 5px 0px;
}
.item-info{
  color: rgb(56, 52, 52);
  font-size: 1.3rem;
}

.item-title small {
  font-size: 1.0rem;
  color: #000;
}

.notifications a.content {
  text-decoration: none;
  display: block;
  color:#000;
}
.notification-item {
  position: relative;
  padding-left: 70px;
  padding-bottom: 0px;
}
.notification-item img {
  position: absolute;
  top: 7px;
  left: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
.dropdown-menu .divider {
  height: 1px;
  margin: 5px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content {
  padding: 0px !important;
  background: rgba(0, 0, 0, 0.04);
  border-bottom: 1px solid #d1d1d1;
}
ul.dropdown-menu.notifications .notifications-wrapper a.content:hover {
  color: #000;
  background: rgba(53, 28, 28, 0.1);
}
.login-nav ul.nav.navbar-nav.navbar-right li a {
  display: block;
}
.notification-heading {
  background: rgb(255, 255, 255);
  font-size: 1.8rem;
  padding: 3px 10px;
}
.notifications a.content {
  text-decoration: none;
  display: block;
}
ul.dropdown-menu.notifications {
  padding: 0px;
}
.dropdown .glyphicon-bell {  
  vertical-align: middle;
}
.dropdown{
  list-style:none;
}
/* 
abc */
/* 
.dropdown-item.dropdown-notification:active, .dropdown-item.dropdown-notification.active {
  color: #1d1e1f;
  text-decoration: none;
  background-color: #f7f7f9;
}

.dropdown-notification:hover .notification-read {
  color: #34495E;
}

.dropdown-notification-all {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-style: oblique;
  background-color: #34495E;
  color: white;
}

.dropdown-notification-all:hover {
  background-color: #34495E;
  color: white;
}

.notifications-container {
  max-height: 300px;
  overflow: auto;
}

.notification-dropdown-menu {
  padding-bottom: 0;
  min-width: 528px;
}

.notification-img {
  width: 48px;
  display: inline-block;
  vertical-align: top;
} 

.notifications-body {
  display: inline-block;
}

.notification-texte {
  text-align: left;
  margin: 0;
}

.notification-read {
  margin: 0;
  height: 48px;
  vertical-align: top;
  line-height: 48px;
  padding-left: 15px;
  color: white;
  float: right;
}

.notification-date {
  text-align: right;
  color: #2980b9;
  margin: 0;
}

.notification-solo {
  margin-top: 1rem;
}

.notification-unread {
  text-decoration: none;
  background-color: #e5e5eb;
} */